<header>
    <button id="open-nav" class="menu-btn" onclick="openNav()">
        <i class="fa-solid fa-bars"></i>
    </button>
    <a href="index.html">
        <img
            id="logo"
            src="./assets/img/LogoLightModeNewer.png"
            alt="Logo"
        />
    </a>
    <img
        id="usericon"
        src="./assets/img/placeholder.jpg"
        alt="avatar"
    />
</header>
<aside>
    <section id="side-nav" class="sidenav closed framed">
        <button id="close-nav" class="menu-btn" onclick="closeNav()">
            <i class="fa-solid fa-times"></i>
        </button>
        <h1 id="sidenav-title">Spelmodi:</h1>
        <nav>
            <a href="/">Landingspagina</a>
            <a href="home">Home</a>
            <a href="pokedex">Pokémon List</a>
            <a href="pokelist">Catch List</a>
            <a target="_blank" href="battler">Battler</a>
            <a target="_blank" href="catcher">Catcher</a>
            <a href="quiz">Who's that pokémon?</a>
            <a href="comparator">Vergelijker</a>
            <a
                target="_blank"
                href="./assets/videos/welcomescreen.mp4"
            ></a>
        </nav>
    </section>
</aside>