<header>
	<a href="/home">
		<img id="logo" src="./assets/img/LogoLightModeNewer.png" alt="Logo" />
	</a>
	<div class="menu-container">
		<a class="menu-btn" href="pokedex">Pokémon</a>
		<a class="menu-btn" href="quiz">Who's that Pokémon?</a>
		<a class="menu-btn" href="/comparator">Comperator</a>
	</div>
	<!-- <button id="open-nav" class="menu-btn" onclick="openNav()">
		<img src="./assets/img/icon_ball.png" alt="" />
	</button> -->

	<form action="/logout" method="post" id="user-form">
		<img id="usericon" class="pixelated" src="<%= user.avatar ??
		"./assets/img/placeholder.jpg" %>" alt="avatar" />
		<button type="submit" name="sign out">
			<i class="fa-solid fa-sign-out"></i>
		</button>
	</form>
</header>
