<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Error</title>

		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/fonts.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/frames.css" />

		<script src="js/main.js" defer></script>
		<script src="js/404.js" defer></script>

		<!-- fa icons -->
		<script
			src="https://kit.fontawesome.com/91fd30522d.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<header></header>
		<aside></aside>
		<main id="404">
			<section id="404-message" class="framed">
				<h1>Error 404!</h1>
				<p>Deze pagina bestaat niet.</p>
				<a id="back" href="#">
					Ga <b>terug</b> naar de vorige pagina
				</a>
			</section>
		</main>
		<%- include("partials/footer") %>
	</body>
</html>
