<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<title>Catch that Pokémon!</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/fonts.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/frames.css" />
		<link rel="stylesheet" href="css\mysterybattler.css" />
		<script src="js/main.js" defer></script>
		<script src="js/pokemon.js" defer></script>

		<!-- fa icons -->
		<script
			src="https://kit.fontawesome.com/91fd30522d.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<header>
			<a href="/home">
				<img
					id="logo"
					src="/assets/img/LogoLightModeNewer.png"
					alt="Logo"
				/>
			</a>
			<div class="menu-container">
				<a class="menu-btn" href="/pokedex">Pokémon</a>
				<a class="menu-btn" href="/quiz">Who's that Pokémon?</a>
				<a class="menu-btn" href="/comparator">Comperator</a>
			</div>
			<!-- <button id="open-nav" class="menu-btn" onclick="openNav()">
		<img src="./assets/img/icon_ball.png" alt="" />
	</button> -->
			<div id="header-settings">
				<div id="audio-mute">
					<button id="mute-music" class="mute-button fa-stack">
						<i class="fa fa-music"></i>
						<i
							id="music-muted-slash"
							class="fa fa-slash fa-stack-1x fa-xl"
						></i>
					</button>
					<button id="mute-sfx" class="mute-button">
						<i class="fa-solid fa-volume-mute"></i>
					</button>
				</div>
				<form action="/logout" method="post" id="user-form">
					<img id="usericon" class="pixelated" src="<%= user.avatar ??
					"/assets/img/placeholder.jpg" %>" alt="avatar" />
					<button type="submit" name="sign out">
						<i class="fa-solid fa-sign-out"></i>
					</button>
				</form>
			</div>
		</header>

		<audio autoplay loop>
			<source src="./assets/audio/catchloop.mp3" type="audio/mpeg" />
			Your browser does not support the audio element.
		</audio>
		<main id="battler" class="bg-image">
			<!-- <section class="bg-image"> -->
			<h2 class="battletext framed" id="announcement"></h2>

			<!-- <section class="pokemon-container"> -->
			<article class="pokemon" id="enemy-container">
				<img
					src="./assets/img/battleshadow.png"
					alt="Catchspawn"
					id="enemygrass"
					class="hidden"
				/>
				<img src="" alt="" class="on-spawn" id="enemyfighter" />
			</article>
			<article class="pokemon" id="buddy-container">
				<img
					src="./assets/img/battleshadow.png"
					alt="Catchspawn"
					class="hidden"
					id="buddygrass"
				/>
				<img
					src="./assets/img/PLAYER1-1.png"
					alt="Magneton"
					class="on-spawn"
					id="buddyfighter"
				/>
			</article>
			<!-- </section> -->

			<section id="buddy-info-container">
				<section id="buddy-info" class="info-box">
					<img
						src="./assets/img/trainerboxbuddy.png"
						alt="infobox1"
						class="infobox"
						id="infobuddy"
					/>
					<h2 class="infobox-text" id="buddyname">{USER}</h2>
				</section>
			</section>

			<section id="enemy-info" class="info-box">
				<img
					src="./assets/img/hpboxenemy.png"
					alt="infobox"
					class="infobox"
					id="infoenemy"
				/>
				<h2 class="infobox-text" id="enemyname"></h2>
			</section>
			<section class="battle-options buttons" id="options">
				<button id="catch">
					<img src="./assets/img/catch.png" alt="c" />
				</button>
				<button id="items">
					<img src="./assets/img/bag.png" alt="b" />
				</button>
				<button id="run">
					<img src="./assets/img/run.png" alt="r" />
				</button>
			</section>
			<!-- </section> -->
		</main>
		<footer><p>&copy; Team Magneton</p></footer>
	</body>
</html>
