<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Comperator</title>

		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/fonts.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/frames.css" />
		<link rel="stylesheet" href="./css/comparestyle.css" />

		<script src="js/main.js" defer></script>
		<script src="js/pokemon.js" defer></script>

		<!-- fa icons -->
		<script
			src="https://kit.fontawesome.com/91fd30522d.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<%- include("partials/header-aside") %>
		<main id="comparator">
			<section class="pokemon-display-card framed">
				<h2 id="pokemonNamePlayer1"></h2>
				<form class="search" action="">
					Search a Pokémon:
					<input
						type="search"
						name="findpoke1"
						id="findme"
						autocomplete="off"
					/>
					<ul id="dropdown1" class="dropdown"></ul>
				</form>
				<section class="compare-img-container">
					<img
						id="pokeball1"
						src="./assets/img/BALL1IDLE.png"
						class="comparing-pokeball-img"
						alt="testbal"
					/>
					<img
						id="activePlayer1"
						class="compared-pokemon-img"
						src=""
						alt=""
					/>
				</section>
				<ul id="pokemon1" class="pokemon-stats"></ul>
			</section>

			<section class="pokemon-display-card framed">
				<h2 id="pokemonNamePlayer2"></h2>
				<form class="search" action="">
					Search a Pokémon:
					<input
						type="search"
						name="findpoke2"
						id="findme2"
						autocomplete="off"
					/>
					<ul id="dropdown2" class="dropdown"></ul>
				</form>
				<section class="compare-img-container">
					<img
						id="pokeball2"
						src="./assets/img/BALL1IDLE.png"
						class="comparing-pokeball-img"
						alt="testbal"
					/>
					<img
						id="activePlayer2"
						class="compared-pokemon-img"
						src=""
						alt=""
					/>
				</section>
				<ul id="pokemon2" class="pokemon-stats"></ul>
			</section>

			<video autoplay muted loop id="backgroundvideo">
				<source
					src="./assets/img/comperatorbackground.mp4"
					type="video/mp4"
				/>
				Your browser does not support HTML5 video.
			</video>
		</main>
		<%- include("partials/footer") %>
	</body>
</html>
