<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Comperator</title>

		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/fonts.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/frames.css" />
		<link rel="stylesheet" href="./css/comparestyle.css" />

		<script src="js/main.js" defer></script>
		<script src="js/pokemon.js" defer></script>

		<!-- fa icons -->
		<script
			src="https://kit.fontawesome.com/91fd30522d.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<header>
			<a href="/home">
				<img
					id="logo"
					src="/assets/img/LogoLightModeNewer.png"
					alt="Logo"
				/>
			</a>
			<div class="menu-container">
				<a class="menu-btn" href="/pokedex">Pokémon</a>
				<a class="menu-btn" href="/quiz">Who's that Pokémon?</a>
				<a class="menu-btn" href="/comparator">Comperator</a>
			</div>
			<!-- <button id="open-nav" class="menu-btn" onclick="openNav()">
		<img src="./assets/img/icon_ball.png" alt="" />
	</button> -->
			<div id="header-settings">
				<div id="audio-mute">
					<button id="mute-music" class="mute-button fa-stack">
						<i class="fa fa-music"></i>
						<i
							id="music-muted-slash"
							class="fa fa-slash fa-stack-1x fa-xl"
						></i>
					</button>
					<button id="mute-sfx" class="mute-button">
						<i class="fa-solid fa-volume-mute"></i>
					</button>
				</div>
				<form action="/logout" method="post" id="user-form">
					<img id="usericon" class="pixelated" src="<%= user.avatar ??
					"/assets/img/placeholder.jpg" %>" alt="avatar" />
					<button type="submit" name="sign out">
						<i class="fa-solid fa-sign-out"></i>
					</button>
				</form>
			</div>
		</header>

		<main id="comparator">
			<section class="pokemon-display-card framed">
				<h2 id="pokemonNamePlayer1"></h2>
				<form class="search" action="">
					Search a Pokémon:
					<input
						type="search"
						name="findpoke1"
						id="findme"
						autocomplete="off"
					/>
					<ul id="dropdown1" class="dropdown"></ul>
				</form>
				<section class="compare-img-container">
					<img
						id="pokeball1"
						src="./assets/img/BALL1IDLE.png"
						class="comparing-pokeball-img"
						alt="testbal"
					/>
					<img
						id="activePlayer1"
						class="compared-pokemon-img"
						src=""
						alt=""
					/>
				</section>
				<ul id="pokemon1" class="pokemon-stats"></ul>
			</section>

			<section class="pokemon-display-card framed">
				<h2 id="pokemonNamePlayer2"></h2>
				<form class="search" action="">
					Search a Pokémon:
					<input
						type="search"
						name="findpoke2"
						id="findme2"
						autocomplete="off"
					/>
					<ul id="dropdown2" class="dropdown"></ul>
				</form>
				<section class="compare-img-container">
					<img
						id="pokeball2"
						src="./assets/img/BALL1IDLE.png"
						class="comparing-pokeball-img"
						alt="testbal"
					/>
					<img
						id="activePlayer2"
						class="compared-pokemon-img"
						src=""
						alt=""
					/>
				</section>
				<ul id="pokemon2" class="pokemon-stats"></ul>
			</section>

			<video autoplay muted loop id="backgroundvideo">
				<source
					src="./assets/img/comperatorbackground.mp4"
					type="video/mp4"
				/>
				Your browser does not support HTML5 video.
			</video>
		</main>
		<footer><p>&copy; Team Magneton</p></footer>
	</body>
</html>
