<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Error <%= code %></title>

		<link rel="stylesheet" href="/css/reset.css" />
		<link rel="stylesheet" href="/css/fonts.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/frames.css" />

		<script src="/js/main.js" defer></script>

		<!-- fa icons -->
		<script
			src="https://kit.fontawesome.com/91fd30522d.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<main id="error-container">
			<section id="error-message" class="framed">
				<h1>Error <%= code %>!</h1>
				<code><%= message %></code>
				<a id="back" href="#"> Go <b>back</b> to the previous page </a>
			</section>
		</main>
		<footer><p>&copy; Team Magneton</p></footer>
	</body>
</html>
