<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<title>Mystery Encounter!</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/fonts.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/frames.css" />
		<link rel="stylesheet" href="css\mysterybattler.css" />
		<script src="js/main.js" defer></script>
		<script src="js/mysterypokemon.js" defer></script>

		<!-- fa icons -->
		<script
			src="https://kit.fontawesome.com/91fd30522d.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<%- include("partials/header-aside") %>
		<audio autoplay loop>
			<source src="./assets/audio/wildmystery.mp3" type="audio/mpeg" />
			Your browser does not support the audio element.
		</audio>
		<main id="battler" class="bg-image">
			<!-- <section class="bg-image"> -->
			<h2 class="battletext framed" id="announcement"></h2>

			<!-- <section class="pokemon-container"> -->
			<article class="pokemon" id="enemy-container">
				<img
					src="./assets/img/battleshadow.png"
					alt="Catchspawn"
					id="enemygrass"
					class="hidden"
				/>
				<img
					src=""
					alt=""
					class="on-spawn pixelated"
					id="enemyfighter"
				/>
			</article>
			<article class="pokemon" id="buddy-container">
				<img
					src="./assets/img/battleshadow.png"
					alt="Catchspawn"
					class="hidden"
					id="buddygrass"
				/>
				<img
					src="./assets/img/PALKIA3.png"
					alt="Magneton"
					class="on-spawn pixelated"
					id="buddyfighter"
				/>
			</article>
			<!-- </section> -->

			<section id="buddy-info-container">
				<section id="buddy-info" class="info-box">
					<img
						src="./assets/img/hpboxbuddy.png"
						alt="infobox1"
						class="infobox pixelated"
						id="infobuddy"
					/>
					<h2 class="infobox-text" id="buddyname">PALKIA</h2>
				</section>
			</section>

			<section id="enemy-info" class="info-box">
				<img
					src="./assets/img/hpboxenemy.png"
					alt="infobox"
					class="infobox pixelated"
					id="infoenemy"
				/>
				<h2 class="infobox-text" id="enemyname"></h2>
			</section>
			<section class="battle-options buttons pixelated" id="options">
				<button id="fight">
					<img src="./assets/img/fight.png" alt="f" />
				</button>
				<button id="items">
					<img src="./assets/img/bag.png" alt="b" />
				</button>
				<button id="run">
					<img src="./assets/img/run.png" alt="r" />
				</button>
			</section>
			<!-- </section> -->
		</main>
		<%- include("partials/footer") %>
	</body>
</html>
