<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Pokedex Lijst</title>

		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/fonts.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/frames.css" />
		<link rel="stylesheet" href="css/mystery.css" />

		<script src="js/main.js" defer></script>
		<!-- fa icons -->
		<script
			src="https://kit.fontawesome.com/91fd30522d.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<%- include("partials/header-aside") %>
		<section id="buddy" class="framed no-hd">
			<h1>My Buddy</h1>
			<img
				src="assets/img/magneton_icon.png"
				alt="buddy"
				class="pixelated"
			/>
			<p>Magneton</p>
		</section>
		<main>
			<h1>Pokédexes</h1>
			<section id="pokedex-list">
				<!-- add box art instead of colors on hover per game -->
				<article id="kanto">
					<a href="pokelist/gen1"
						><img
							src="./assets/img/pokedexboxes/gen01starters.png"
							alt="Kanto"
						/>
						<p>Generation 1<br />1-151</p>
					</a>
				</article>
				<article id="johto">
					<a href="pokelist/gen2"
						><img
							src="./assets/img/pokedexboxes/gen02starters.png"
							alt="Johto"
						/>
						<p>Generation 2<br />152-251</p>
					</a>
				</article>
				<article id="hoenn">
					<a href="pokelist/gen3"
						><img
							src="./assets/img/pokedexboxes/gen03starters.png"
							alt="Hoenn"
						/>
						<p>Generation 3<br />252-386</p>
					</a>
				</article>
				<article id="sinnoh">
					<a href="pokelist/gen4"
						><img
							src="./assets/img/pokedexboxes/gen04starters.png"
							alt="Sinnoh"
						/>
						<p>Generation 4<br />387-493</p>
					</a>
				</article>
				<article id="unova">
					<a href="pokelist/gen5"
						><img
							src="./assets/img/pokedexboxes/gen05starters.png"
							alt="Unova"
						/>
						<p>Generation 5<br />494-649</p>
					</a>
				</article>
				<article id="kalos">
					<a href="pokelist/gen6"
						><img
							src="./assets/img/pokedexboxes/gen06starters.png"
							alt="Kalos"
						/>
						<p>Generation 6<br />650-721</p>
					</a>
				</article>
				<article id="alola">
					<a href="pokelist/gen7"
						><img
							src="./assets/img/pokedexboxes/gen07starters.png"
							alt="Alola"
						/>
						<p>Generation 7<br />722-809</p>
					</a>
				</article>
				<article id="galar">
					<a href="pokelist/gen8"
						><img
							src="./assets/img/pokedexboxes/gen08starters.png"
							alt="Galar"
						/>
						<p>Generation 8<br />810-905</p>
					</a>
				</article>
				<article id="paldea">
					<a href="pokelist/gen9"
						><img
							src="./assets/img/pokedexboxes/gen09starters.png"
							alt="Paldea"
						/>
						<p>Generation 9<br />906-1025</p>
					</a>
				</article>
				<article id="mystery-zone">
					<a href="mysterybattler">
						<img
							class="foggy-background"
							src="./assets/img/fog-2642.png"
							alt="mist"
						/><img
							src="./assets/img/pokedexboxes/mysterytrio.png"
							alt="Mystery"
						/>
						<p>Mystery Zone<br />???-???</p>
					</a>
				</article>
			</section>
			<video autoplay muted loop id="backgroundvideo">
				<source
					src="./assets/img/comperatorbackground.mp4"
					type="video/mp4"
				/>
				Your browser does not support HTML5 video.
			</video>
		</main>
		<%- include("partials/footer") %>
	</body>
</html>
