<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Pokemon Lijst</title>

		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/fonts.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/frames.css" />

		<script src="js/main.js" defer></script>

		<!-- fa icons -->
		<script
			src="https://kit.fontawesome.com/91fd30522d.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<%- include("partials/header-aside") %>
		<section id="buddy" class="framed no-hd">
			<h1>My Buddy</h1>
			<img src="assets/img/magneton_icon.png" alt="buddy" />
			<p>Magneton</p>
		</section>
		<main>
			<h1>Kanto</h1>
			<section id="pokelist-container">
				<section>
					<p>Gen IX</p>
					<p>0952</p>
					<p>Gevangen op 30/04/2024</p>
					<button>❤</button>
					<a href=""
						><img
							src="./assets/img/pokéballcaught.png"
							alt="Caughtchecker"
					/></a>
					<img src="./assets/img/scovillain.png" alt="SelectedPoke" />
					<p>Grass</p>
					<p>Fire</p>
					<p>Scovillain</p>
					<p>HP</p>
					<p>ATK</p>
					<p>DEF</p>
					<p>SPATK</p>
					<p>SPDEF</p>
					<p>SPD</p>
				</section>
				<!--Naam van de regio wordt vervangen met gebruik array en API-->
				<section id="pokemon-images">
					<article class="pokecontainer">
						<img
							class="pokemon"
							src="./assets/img/scovillainicon.png"
							alt="PLACEHOLDER"
						/>
					</article>
					<article class="pokecontainer">
						<img
							class="pokemon"
							src="./assets/img/scovillainicon.png"
							alt="PLACEHOLDER"
						/>
					</article>
					<article class="pokecontainer">
						<img
							class="pokemon"
							src="./assets/img/scovillainicon.png"
							alt="PLACEHOLDER"
						/>
					</article>
					<article class="pokecontainer">
						<img
							class="pokemon"
							src="./assets/img/scovillainicon.png"
							alt="PLACEHOLDER"
						/>
					</article>
				</section>
			</section>
			<video autoplay muted loop id="backgroundvideo">
				<source
					src="./assets/img/comperatorbackground.mp4"
					type="video/mp4"
				/>
				Your browser does not support HTML5 video.
			</video>
		</main>
		<%- include("partials/footer") %>
	</body>
</html>
