<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Who's That Pokemon?</title>

		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/fonts.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/frames.css" />

		<script src="js/main.js" defer></script>
		<script src="js/quiz.js" defer></script>

		<!-- fa icons -->
		<script
			src="https://kit.fontawesome.com/91fd30522d.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<header>
			<a href="/home">
				<img
					id="logo"
					src="/assets/img/LogoLightModeNewer.png"
					alt="Logo"
				/>
			</a>
			<div class="menu-container">
				<a class="menu-btn" href="/pokedex">Pokémon</a>
				<a class="menu-btn" href="/quiz">Who's that Pokémon?</a>
				<a class="menu-btn" href="/comparator">Comperator</a>
			</div>
			<!-- <button id="open-nav" class="menu-btn" onclick="openNav()">
		<img src="./assets/img/icon_ball.png" alt="" />
	</button> -->
			<div id="header-settings">
				<div id="audio-mute">
					<button id="mute-music" class="mute-button fa-stack">
						<i class="fa fa-music"></i>
						<i
							id="music-muted-slash"
							class="fa fa-slash fa-stack-1x fa-xl"
						></i>
					</button>
					<button id="mute-sfx" class="mute-button">
						<i class="fa-solid fa-volume-mute"></i>
					</button>
				</div>
				<form action="/logout" method="post" id="user-form">
					<img id="usericon" class="pixelated" src="<%= user.avatar ??
					"/assets/img/placeholder.jpg" %>" alt="avatar" />
					<button type="submit" name="sign out">
						<i class="fa-solid fa-sign-out"></i>
					</button>
				</form>
			</div>
		</header>

		<section id="buddy" class="framed no-hd">
			<h1>My Buddy</h1>
			<img
				src="assets/img/magneton_icon.png"
				alt="buddy"
				class="pixelated"
			/>
			<p>Magneton</p>
		</section>
		<main id="quiz">
			<section id="quiz-container" class="framed">
				<h1>Who's that Pokémon?</h1>
				<p>Can you guess what pokemon hides in the shadows?</p>
				<p>
					Guess correctly to increase one of the stats for your
					current buddy!
				</p>
				<section id="guess-img-container">
					<img
						id="guess-img"
						src="https://raw.githubusercontent.com/DennisMortelmans/pokesprites/main/front/6.png"
						alt="Pokémon"
					/>
				</section>
				<form id="guess-form" action="javascript:void(0)">
					<input
						type="text"
						id="guess"
						value="cha"
						name="guess"
						placeholder="Vul hier de naam in"
					/>
					<!-- TODO: Dropdown -->
					<button id="guess-btn" type="submit">Guess!</button>
				</form>
				<section id="guess-options-container">
					<button class="guess-option">Chandelure</button>
					<button class="guess-option">Charizard</button>
					<button class="guess-option">Chatot</button>
					<button class="guess-option" disabled>&nbsp;</button>
				</section>
			</section>
		</main>
		<footer><p>&copy; Team Magneton</p></footer>
	</body>
</html>
