<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Wie is de pokemon?</title>

		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/fonts.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/frames.css" />

		<script src="js/main.js" defer></script>
		<script src="js/quiz.js" defer></script>

		<!-- fa icons -->
		<script
			src="https://kit.fontawesome.com/91fd30522d.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<%- include("partials/header-aside") %>
		<section id="buddy" class="framed no-hd">
			<h1>My Buddy</h1>
			<img src="assets/img/magneton_icon.png" alt="buddy" />
			<p>Magneton</p>
		</section>
		<main id="quiz">
			<section id="quiz-container" class="framed">
				<h1>Who's that Pokémon?</h1>
				<p>
					Weet jij welke Pokémon dit is? Klik op de knop om te raden!
				</p>
				<section id="guess-img-container">
					<img
						id="guess-img"
						src="./assets/img/CHARIZARD.png"
						alt="Pokémon"
					/>
				</section>
				<form id="guess-form" action="javascript:void(0)">
					<input
						type="text"
						id="guess"
						value="cha"
						name="guess"
						placeholder="Vul hier de naam in"
					/>
					<!-- TODO: Dropdown -->
					<button id="guess-btn" type="submit">Raad!</button>
				</form>
				<section id="guess-options-container">
					<button class="guess-option">Chandelure</button>
					<button class="guess-option">Charizard</button>
					<button class="guess-option">Chatot</button>
					<button class="guess-option" disabled>&nbsp;</button>
				</section>
			</section>
		</main>
		<%- include("partials/footer") %>
	</body>
</html>
