<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sign up</title>
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/fonts.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/frames.css" />

		<script src="js/main.js" defer></script>
		<script src="js/signup.js" defer></script>

		<!-- fa icons -->
		<script
			src="https://kit.fontawesome.com/91fd30522d.js"
			crossorigin="anonymous"
		></script>

		<script type="module" src="js/login.js" defer></script>
	</head>
	<body>
		<main class="login-container">
			<form
				class="login-form action-signup framed"
				action="signup"
				method="post"
			>
				<h2>Welcome to Gotcha!</h2>

				<h3>Select your player:</h3>
				<section id="avatar-selection">
					<button type="button" id="prev" value="prev">
						&ltcir;
					</button>
					<img
						src="/assets/img/pfp1.png"
						height="100"
						width="100"
						alt="avatar"
						id="avatar"
						class="avatar pixelated"
					/>
					<input
						type="hidden"
						name="avatar"
						id="avatar-url"
						value="/assets/img/pfp1.png"
					/>
					<button type="button" id="next" value="next">
						&gtcir;
					</button>
				</section>

				<label
					><i class="fa-solid fa-user"></i>
					<input
						type="text"
						name="username"
						id="login-username"
						placeholder="username"
						aria-label="username"
						required
					/>
				</label>

				<label
					><i class="fa-solid fa-envelope"></i>
					<input
						type="email"
						name="email"
						id="login-email"
						placeholder="someone@example.com"
						aria-label="email"
						required
					/>
				</label>
				<label>
					<i class="fa-solid fa-lock"></i>
					<input
						type="password"
						name="password"
						id="login-password"
						placeholder="wachtwoord"
						aria-label="Wachtwoord"
						minlength="8"
						required
					/>
				</label>
				<label>
					<i class="fa-solid fa-arrows-rotate"></i>
					<input
						type="password"
						name="password-verify"
						id="login-password-verify"
						placeholder="bevestig wachtwoord"
						aria-label="Bevestig wachtwoord"
						required
					/>
				</label>

				<section class="login-submit-container">
					<input type="submit" value="Sign up" />
					<a href="login" id="login-link">
						Already have an account?
					</a>
				</section>
			</form>
		</main>
		<footer><p>&copy; Team Magneton</p></footer>
	</body>
</html>
