body {
	overflow-x: hidden;
}

#battler {
	padding: 0;
}

.buttons button {
	height: 60px;
	width: 100%;
	margin: 1rem;
	border: none;
	background-color: transparent;
}

.bg-image h2 {
	color: black;
	position: absolute;
	top: 80px;
	left: 1px;
}

.battletext {
	background-color: white;
	opacity: 0.8;
	grid-area: head;
}
.buttons h3 {
	color: black;
}

#fight:hover img {
	content: url("../assets/img/fightselect.png");
}

#items:hover img {
	content: url("../assets/img/bagselect.png");
}

#run:hover img {
	content: url("../assets/img/runselect.png");
}

.framed.buttons.compact {
	display: flex;
	justify-content: space-around;
}

.framed.buttons.compact li {
	list-style: none;
}

.pokemon-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pokemon {
	position: relative;
	margin-bottom: 40px;
}

#buddyfighter {
	position: absolute;
	width: 500px;
	top: -140px;
	right: 460px;
	animation: introbuddy 7s 1;
}
#enemyfighter {
	position: absolute;
	width: 500px;
	left: 485px;
	top: -100px;
	animation: introenemy 7s 1;
}
#buddygrass {
	position: relative;
	right: 4500px;
	top: 100px;
	width: 500px;
	z-index: 0;
}
#enemygrass {
	position: relative;
	left: 500px;
	top: 275px;
	width: 500px;
	opacity: 0.8;
}
#infobuddy {
	grid-area: info-buddy;
	position: absolute;
	width: 450px;
	right: 600px;
	bottom: -208px;
}
#infoenemy {
	position: absolute;
	width: 450px;
	left: 594px;
	top: -175px;
}
#buddyname {
	position: absolute;
	left: -490px;
	top: 225px;
}
#enemyname {
	position: absolute;
	left: 680px;
	top: -155px;
}

.pokemon img,
.bg-image img {
	width: 200px;
	height: auto;
}

.battle-options {
	display: flex;
	list-style: none;
	flex-direction: column;
}
.battle-options button {
	margin-bottom: -7px;
}
#battler .bg-image {
	height: 100%;
}

#battler .pokemon {
	margin: 0;
}
#options {
	position: absolute;
	top: 472px;
	left: 1325px;
}
@keyframes introbuddy {
	0% {
		right: -50px;
	}

	25% {
		right: 460px;
	}
}

@keyframes introenemy {
	0% {
		filter: brightness(0%);
		left: -50px;
	}

	25% {
		filter: brightness(100%);
		left: 485px;
	}
}
