#comparator {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 1rem;
}

#comparator li {
	display: grid;
	grid-template-columns: 3rem 255px;
	list-style: none;
}

#comparator li > section {
	display: flex;
	flex-direction: row;
	color: black;
	border-style: solid;
	border-color: gray;
	width: 255px;
}

.pokemon-display-card {
	color: black;
	background-color: #f8f3f8;
	width: fit-content;
	padding: 1rem;
}

.compare-img-container {
	display: grid;
}

.comparing-pokeball-img {
	grid-column: 1;
	grid-row: 1;
	height: 100%;
}

.compared-pokemon-img {
	grid-column: 1;
	grid-row: 1;
	height: 100%;
}
