.framed {
	border-image: url("../assets/img/frame-hd.png") 42 round;
	border-width: 21px;
	border-style: solid;
	border-radius: 10px;
}

.framed.no-hd {
	border-image: url("../assets/img/frame.png") 7 round;
	border-width: 7px;
}
