.framed {
	border-image: url("../assets/img/frame-hd.png") 42 round;
	border-width: 21px;
	border-style: solid;
	border-radius: 10px;
}

.framed.no-hd {
	border-image: url("../assets/img/frame.png") 7 round;
	border-width: 7px;
}

.selected {
	background: url("../assets/img/cursor.png") no-repeat center center;
	background-size: contain;
	image-rendering: pixelated;
}

.selected img {
	image-rendering: auto;
}

.pixelated-border {
	border-image-slice: 52 47 53 41 fill;
	border-image-width: 2rem;
	border-image-outset: 21px;
	border-image-repeat: round round;
	border-image-source: url("../assets/img/pixel-frame.png");
	border-style: solid;
	border-radius: 0.9rem;
}
