#selectedPokemon {
	height: 25%;
	background-color: rgb(46, 59, 59);
	border-style: solid;
	border-color: rgb(19, 24, 24);
	border-radius: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#pokemon-images {
	background-color: rgb(46, 59, 59);
	border-style: solid;
	border-color: rgb(19, 24, 24);
	border-radius: 5%;
	overflow-y: scroll;
	max-height: 85vh;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5px;
	padding: 5px;
	transition: margin-right 0.5s;
}

#pokemon-images article {
	width: 15%;
	display: flex;
	justify-items: center;
	align-items: center;
}

#pokemon-images img {
	object-fit: contain;
	padding-top: 7px;
	border-radius: 15px;
	transition: transform 0.8s ease;
	grid-row: 1;
	grid-column: 1;
}

#pokemon-images img:hover {
	animation: upAndDown 0.5s ease infinite;
}

#selection {
	background-image: url("../assets/img/grassbg.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 45vw;
}

#buddy-button {
	margin-left: 80%;
	background-color: black;
	color: aliceblue;
	border-radius: 60%;
	position: relative;
	top: 24vh;
	font-size: x-large;
}
#buddy-button:active {
	color: red;
}
#type1 {
	width: 22.5vw;
	margin-left: -22.5vw;
}
#type2 {
	width: 22.5vw;
	margin-left: 22.5vw;
	margin-top: -9.8vh;
}
#battle-button {
	background-color: rgb(254, 96, 84);
	font-size: x-large;
	border-radius: 6%;
	position: relative;
	top: 2vh;
	width: 22.5vw;
	height: 12vh;
	margin-left: -22.5vw;
}
#catch-button {
	background-color: rgb(88, 255, 255);
	font-size: x-large;
	border-radius: 6%;
	width: 22.5vw;
	height: 12vh;
	margin-left: 23vw;
	margin-top: -10vh;
}
#dateCaught {
	margin-top: 1vh;
}
#releasebutton {
	position: relative;
	right: -19.5vw;
	top: 7vh;
}
.pokecontainer {
	max-height: 128px;
}
.pokemon {
	cursor: pointer;
	/* filter: brightness(0%); */
}
.stat-grid {
	margin-right: 37vw;
	margin-top: 4vh;
	font-size: x-large;
}
h2 {
	position: relative;
	right: -1vw;
}
