body {
	max-width: 100vw;
}

#battler {
	padding: 0;
	color: black;
}

.bg-image {
	display: grid;
	grid-template-areas:
		"head enemy-info"
		"buddy enemy"
		". buttons"
		"buddy-info buttons";

	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr auto;
	align-items: center;
	background-image: url("../assets/img/mysterybattlebg.jpg");
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.buttons {
	grid-area: buttons;
}

.buttons button {
	height: 60px;
	border: none;
	background-color: transparent;
}

.battletext {
	grid-area: head;
	background-color: white;
	opacity: 0.8;
}

.buttons h3 {
	color: black;
}

#fight:hover img {
	content: url("../assets/img/fighthover.png");
}
#fight:active img {
	content: url("../assets/img/fightselect.png");
}
#catch:hover img {
	content: url("../assets/img/catchhover.png");
}
#catch:active img {
	content: url("../assets/img/catchselect.png");
}
#items:hover img {
	content: url("../assets/img/baghover.png");
}
#items:active img {
	content: url("../assets/img/bagselect.png");
}
#run:hover img {
	content: url("../assets/img/runhover.png");
}
#run:active img {
	content: url("../assets/img/runselect.png");
}
.framed.buttons.compact {
	display: flex;
	justify-content: space-around;
}

.framed.buttons.compact li {
	list-style: none;
}

.pokemon-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pokemon {
	margin-bottom: 40px;
}

#buddyfighter {
	height: 100%;
	width: auto;
	animation: introbuddy 7s 1, playerthrow 0.9s 1;
}
#enemyfighter {
	height: 100%;
	width: auto;
	animation: introenemy 7s 1;
	z-index: -1;
}
#buddygrass {
	width: 500px;
	z-index: 0;
}

.hidden {
	display: none;
}

#enemygrass {
	width: 500px;
	opacity: 0.9;
}

#buddy-container {
	grid-area: buddy;
}

#enemy-container {
	grid-area: enemy;
	display: flex;
	justify-content: flex-end;
	z-index: 0;
}

.info-container {
	height: 100%;
	max-height: 7rem;
	min-height: fit-content;
	width: 40rem;
	margin: 1rem;

	filter: drop-shadow(10px 15px 2px rgba(49, 49, 43, 0.5));
	background: beige;
	z-index: 1;

	display: grid;
	grid-template-areas:
		"pokemon-name pokemon-lvl"
		"pokemon-hp pokemon-hp";

	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 1fr;

	padding: 1rem;
}

#buddy-info {
	grid-area: buddy-info;
	align-items: center;
}

#enemy-info {
	grid-area: enemy-info;
	justify-self: end;
	align-items: center;
}

.pokemon-name {
	grid-area: pokemon-name;
}

.pokemon-lvl {
	grid-area: pokemon-lvl;
}

.pokemon-hp {
	grid-area: pokemon-hp;
	width: fit-content;

	display: flex;
	align-items: center;
	justify-content: center;

	background: rgb(46, 48, 51);
	border: 1px solid black;
	border-radius: 0.7rem;

	padding: 2px 1rem;
}

.pokemon-hp p {
	margin: 0;
	width: fit-content;
	font-size: larger;
	font-weight: bolder;
	color: white;
}

.hp-bar {
	max-width: 100%;
	width: 15rem;
	height: 1rem;
	border: 2px solid white;
	border-radius: 1rem;
	overflow: hidden;
	background-color: white;
}

#buddy-hp-fill {
	background-color: rgb(13, 234, 87);
	height: 100%;
	width: 100%;
}

#enemy-hp-fill {
	background-color: orange;
	height: 100%;
	width: 50%;
}

.pokemon img,
.bg-image img {
	width: 200px;
	height: auto;
}

.battle-options {
	display: flex;
	list-style: none;
	flex-direction: column;
	align-items: flex-end;
	z-index: 1;
}
.battle-options button {
	margin-bottom: 9px;
}

#battler .pokemon {
	margin: 0;
	grid-row: 2/4;
	height: 100%;
	z-index: 0;
}

@keyframes playerthrow {
	0% {
		content: url("../assets/img/PLAYER1-1.png");
		transform: translateX(0);
	}
	20% {
		content: url("../assets/img/PLAYER1-2.png");
		transform: translateX(-2rem);
	}
	40% {
		content: url("../assets/img/PLAYER1-3.png");
		transform: translateX(2rem);
	}
	60% {
		content: url("../assets/img/PLAYER1-4.png");
		transform: translateX(3rem);
	}
	80% {
		content: url("../assets/img/PLAYER1-5.png");
		transform: translateX(2rem);
	}
	100% {
		content: url("../assets/img/PLAYER1-1.png");
		transform: translateX(0);
	}
}
@keyframes introbuddy {
	0% {
		transform: translateX(30vw);
	}

	25% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(0px);
	}
}

@keyframes introenemy {
	0% {
		filter: brightness(0%);
		transform: translateX(-30vw);
	}

	25% {
		filter: brightness(100%);
		transform: translateX(0px);
	}
}
