:root {
	--color-bg: #6668e0;
	--color-dark: #484848;
	--color-light: #f5f5f5;
	--color-header: #da1f1f;
	--color-text-dark: #523ea3;
	--color-bg-light: #6668e0;
	--color-fg-light: #484848;
	--color-text: #ffffff;
	::-webkit-scrollbar {
		display: none;
	}
}

body {
	display: grid;
	grid-template-areas:
		"aside header header"
		"aside main buddy"
		"aside footer footer";
	grid-template-columns: 0 1fr 0;
	grid-template-rows: 5rem 1fr 5rem;
	height: 100vh;
	background-color: var(--color-bg);
	color: var(--color-light);
}

header {
	grid-area: header;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-header);
}

header a,
header img {
	object-fit: contain;
	max-width: fit-content;
	height: 100%;
}

main {
	grid-area: main;
	height: 100%;
	width: 100%;
	padding: 1rem;
}

footer {
	grid-area: footer;
	display: flex;
	justify-content: center;
	align-items: center;
}

aside {
	grid-area: aside;
}

a {
	text-decoration: none;
	color: var(--color-light);
}

button,
input[type="submit"] {
	cursor: pointer;
}

#buddy {
	grid-area: buddy;
	position: absolute;
	top: 5rem;
	right: 0;
	width: 75px;
	height: 75px;
	background: var(--color-light);
	color: #000;
	border-radius: 10px;
	border-width: 10px;
}

#buddy > h1,
#buddy > p {
	font-size: 0;
}

#buddy.expanded {
	width: 200px;
	height: auto;
	border-width: 21px;
}

#buddy.expanded > h1,
#buddy.expanded > p {
	font-size: 1.2em;
}

#buddy.expanded > img {
	content: url("../assets/img/MAGNETON.png");
}

.sidenav {
	position: sticky;
	z-index: 1;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	background-color: var(--color-light);
	color: #371313;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
	height: 100vh;
	padding: 0;
	border-radius: 0 !important;
}

.sidenav.closed {
	width: 0;
	border-width: 21px 0 !important;
}

.sidenav.open {
	width: 400px;
}

.sidenav nav {
	display: flex;
	flex-direction: column;
}

.sidenav a {
	padding: 8px;
	padding-left: 25px;
	margin-left: 25px;
	transition: 0.3s;
	color: #000;
	font-size: 1.2em;
	border-radius: 25%;
	text-wrap: nowrap;
}

.sidenav a:hover {
	animation: leftAndRight 0.5s ease forwards alternate;
}

.sidenav a:hover::before {
	content: "";
	position: absolute;
	left: -2px;
	width: 2px;
	height: 2px;
	font-size: 2px;
	color: #181010;
	box-shadow: 1em 0em 0 #181010, 2em 0em 0 #181010, 1em 1em 0 #181010,
		2em 1em 0 #181010, 3em 1em 0 #181010, 1em 2em 0 #181010,
		2em 2em 0 #181010, 3em 2em 0 #181010, 4em 2em 0 #181010,
		1em 3em 0 #181010, 2em 3em 0 #181010, 3em 3em 0 #181010,
		4em 3em 0 #181010, 5em 3em 0 #181010, 1em 4em 0 #181010,
		2em 4em 0 #181010, 3em 4em 0 #181010, 4em 4em 0 #181010,
		1em 5em 0 #181010, 2em 5em 0 #181010, 3em 5em 0 #181010,
		1em 6em 0 #181010, 2em 6em 0 #181010;
}

.sidenav h1 {
	margin: 0;
	padding: 0 20px;
	height: 80px;
	display: flex;
	align-items: center;
	font-size: 20px;
}

.menu-btn {
	border-radius: 5%;
	font-size: x-large;
	height: fit-content;
	width: fit-content;
	padding: 0px 10px;
	margin: 10px;
}

.menu-btn:active i {
	transform: translate(0, 1px);
}

#usericon {
	border-radius: 50%;
}

#open-nav {
	background-color: var(--color-dark);
	color: var(--color-light);
}

#home {
	display: flex;
	flex-wrap: wrap;
	width: fit-content;
	height: fit-content;
	justify-content: center;
}

#home img {
	object-fit: contain;
}

#home p {
	max-width: 800px;
	margin-right: 2rem;
}

#pokemon-images {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	padding: 20px;
	transition: margin-right 0.5s;
}

#pokemon-images article {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;
}

#pokemon-images img {
	width: 100%;
	height: 150px;
	object-fit: contain;
	padding-top: 7px;
	border-radius: 15px;
	transition: transform 0.8s ease;
	grid-row: 1;
	grid-column: 1;
}

#pokemon-images img:hover {
	animation: upAndDown 0.5s ease infinite;
}

#pokedex-list {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

#pokedex-list article {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

#mystery-zone {
	position: relative;
	grid-column-start: 2;

	text-align: center;
	overflow: hidden;
	border-radius: 2%;
	background-color: #333232;
	box-shadow: 0 0 5px 5px #1f1e1e;
}

#mystery-zone p {
	z-index: 100;
}

.foggy-background {
	width: 750px;
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: none;

	object-fit: fill;

	animation-name: foggy;
	animation-iteration-count: infinite;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
}

.pokeball {
	opacity: 0.3;
	height: 210px !important;
	width: 210px !important;
	z-index: -1;
	animation: rotation 20s infinite linear;
}
.pokeballselect {
	display: none;
	opacity: 0.5;
	height: 200px !important;
	width: 200px !important;
	z-index: -1;
	animation: rotation 20s infinite linear;
}

.pokeball:has(+ .pokemon:hover) {
	opacity: 0.7;
}

#catcher {
	padding: 0;
	color: #181010;
}

/* quiz styles */
#quiz {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#quiz-container {
	color: black;
	background-color: #f8f3f8;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 1rem;
	align-items: center;
	min-width: calc(400px - 2rem);
}

#guess-img-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
}

#guess-img {
	object-fit: contain;
	width: 300px;
	border-radius: 10px;
	transition: filter 0.5s;
	filter: brightness(0%);
}

.guessed {
	filter: brightness(100%) !important;
}

#guess-options-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	min-width: fit-content;
	width: 400px;
	margin: 1rem 0;
	border: 1px solid #000;
	border-radius: 10px;
	overflow: hidden;
}

#guess-options-container button {
	text-align: start;
	padding: 0.5rem;
	border: 0;
	border-bottom: 1px solid #b6b6b6;
}

#guess-options-container button:nth-last-child(1) {
	border-bottom: none;
}

#guess-options-container button:hover {
	background-color: #cbcbcb;
}

#guess-options-container button:active {
	transform: scale(0.99);
}

.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #070707;
}

.login-form {
	/* flex */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* size */
	height: fit-content;

	/* misc */
	background-color: gold;
	border-radius: 0.5rem;
	padding: 1rem;
}

.login-submit-container {
	display: flex;
	justify-content: space-evenly;
	margin-top: 0.5rem;
	width: 80%;
}

.login-form h2,
.login-form i {
	color: var(--color-text-dark);
	margin-right: 0.5rem;
}

.login-form input[type="email"],
.login-form input[type="password"] {
	margin-top: 0.5rem;
	color: var(--color-text-dark);
	background-color: transparent;
	border: 0;
	border-bottom: 2px inset var(--color-text-dark);
}

.login-form input[type="submit"],
.login-form a {
	padding: 0.5rem;
	border-radius: 10px;
}

.login-form a:hover {
	text-decoration: underline;
}

.login-form a {
	max-width: 50%;
	color: var(--color-text-dark);
}

.highlight {
	animation: highlight-pulse 3s;
	border-radius: 10px;
}

/*
 Keeps browser autofill from changing input colors.
 Source: https://stackoverflow.com/a/14205976
 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
	box-shadow: inset 0 0 20px 20px #00000000;
}
/* Pokémon vangen */
.bg-image {
	display: grid;
	align-items: center;
	background-image: url("../assets/img/field_bg.png");
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2rem;
}

#back {
	text-decoration: underline;
}

#catcher .bg-image {
	grid-template-areas:
		". textbox ."
		". spawnArea ."
		". pokeBall ."
		". menu menu";
}

#catcher .bg-image img {
	width: 350px;
	grid-area: spawnArea;
	/* grid-row: 2; */
}

#pokeballHolder {
	grid-area: pokeBall !important;
	width: 175px !important;
}

.catch-menu,
button {
	background-color: #f8f3f8;
	color: #000;
	grid-area: menu;
}
/* Landingspagina */
#gameboy {
	color: black;
	background-color: #484848 !important;
}
#gameboy header {
	background-color: #b6b6b6;
}
#score {
	position: sticky;
	z-index: 1;
	display: flex;
	flex-direction: column;
	background-color: var(--color-light);
	color: #010101;
	padding-top: 60px;
	height: 107vh;
	padding: 0;
	border-radius: 0 !important;
	width: 200px;
}
#nextup {
	background-color: #181010;
}
#sidenav h1 {
	margin: 0;
	padding: 0 20px;
	height: 80px;
	display: flex;
	align-items: center;
	font-size: 20px;
}

#landcontainer {
	display: flex;
	justify-content: center;
}

.landing {
	display: grid;
	grid-template-areas:
		" . fifa ."
		" fortnite . lego"
		" magic . lotr"
		" . pokemon .";
	align-items: center;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	justify-items: center;
}

.landing a {
	display: flex;
	height: 16vh;
	border-style: solid;
	width: 140px;
	justify-content: center;
}
.landing img {
	height: 100%;
}
@keyframes highlight-pulse {
	0% {
		background-color: transparent;
	}

	25%,
	75% {
		background-color: rgba(0, 208, 255, 0.35);
		padding: 0 10px;
	}

	100% {
		background-color: transparent;
	}
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(359deg);
	}
}

@keyframes foggy {
	0% {
		translate: 0px 0 0px;
	}

	50% {
		translate: -100px 0 0px;
	}

	100% {
		translate: 0px 0 0px;
	}
}

@keyframes upAndDown {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-7px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes leftAndRight {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-10px);
	}

	100% {
		transform: translateX(-10px);
	}
}

@media only screen and (max-width: 800px) {
	#pokedex-list {
		grid-template-columns: 1fr 1fr;
	}
}

/*Blackening filter for who's that pokemon:  -webkit-filter: brightness(0);*/
/* @media only screen and (max-width: 1020px) {
	#open-nav {
		right: 542px;
		top: 20px;
		font-size: larger;
	}

}



 */
