:root {
	--color-bg: #6668e0;
	--color-dark: #484848;
	--color-light: #f5f5f5;
	--color-header: #da1f1f;
	--color-text-dark: #332279;
	--color-bg-light: #6668e0;
	::-webkit-scrollbar {
		display: none;
	}
}

body {
	display: grid;
	grid-template-areas:
		"aside header header"
		"aside main buddy"
		"aside footer footer";
	grid-template-columns: 0 1fr 0;
	grid-template-rows: 5rem 1fr 5rem;
	height: 100vh;
	background-color: var(--color-bg);
	color: var(--color-light);
}

header {
	grid-area: header;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-header);
}

#logo {
	max-width: fit-content;
}

.menu-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
}

.menu-btn {
	padding: 20px;
	background-color: var(--color-dark);
	color: white;
	border: 2px solid #333;
	font-size: 14px;
	font-family: Arial, sans-serif;
	transition: background-color 0.3s, color 0.3s;
}

.menu-btn:hover {
	background-color: #555;
	animation: upAndDown 0.5s ease infinite;
}

#usericon {
	margin-left: auto;
}

header a,
header img {
	object-fit: contain;
	max-width: fit-content;
	height: 100%;
}

main {
	grid-area: main;
	height: 100%;
	width: 100%;
	padding: 1rem;
}

footer {
	grid-area: footer;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #da1f1f;
}

aside {
	grid-area: aside;
	z-index: 999;
}

a {
	text-decoration: none;
	color: var(--color-light);
}

button,
input[type="submit"] {
	cursor: pointer;
}

.pixelated {
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}

#landingLines {
	padding: 10px 0;
	border: 5px solid transparent;
	border-top-color: purple;
	border-bottom-color: blue;
	text-underline-offset: 5px;
	width: 100%;
	display: flex;
	justify-content: center;
}

#backgroundvideo {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}
#buddy {
	grid-area: buddy;
	position: absolute;
	top: 5rem;
	right: 0;
	width: 75px;
	height: 75px;
	background: var(--color-light);
	color: #000;
	border-radius: 10px;
	border-width: 10px;
	z-index: 1000;
}

#buddy > h1,
#buddy > p {
	font-size: 0;
}

#buddy.expanded {
	width: 200px;
	height: auto;
	border-width: 21px;
}

#buddy.expanded > h1,
#buddy.expanded > p {
	font-size: 1.2em;
}

#buddy.expanded > img {
	content: url("../assets/img/MAGNETON.png");
}

.sidenav {
	position: sticky;
	z-index: 1;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	background-color: var(--color-light);
	color: #371313;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
	height: 100vh;
	padding: 0;
	border-radius: 0 !important;
}

.sidenav.closed {
	width: 0;
	border-width: 21px 0 !important;
}

.sidenav.open {
	width: 400px;
}

.sidenav nav {
	display: flex;
	flex-direction: column;
}

.sidenav a {
	padding: 8px;
	padding-left: 25px;
	margin-left: 25px;
	transition: 0.3s;
	color: #000;
	font-size: 1.2em;
	border-radius: 25%;
	text-wrap: nowrap;
}

.sidenav a:hover {
	animation: leftAndRight 0.5s ease forwards alternate;
}

.sidenav a:hover::before {
	content: "";
	position: absolute;
	left: -2px;
	width: 2px;
	height: 2px;
	font-size: 2px;
	color: #181010;
	box-shadow: 1em 0em 0 #181010, 2em 0em 0 #181010, 1em 1em 0 #181010,
		2em 1em 0 #181010, 3em 1em 0 #181010, 1em 2em 0 #181010,
		2em 2em 0 #181010, 3em 2em 0 #181010, 4em 2em 0 #181010,
		1em 3em 0 #181010, 2em 3em 0 #181010, 3em 3em 0 #181010,
		4em 3em 0 #181010, 5em 3em 0 #181010, 1em 4em 0 #181010,
		2em 4em 0 #181010, 3em 4em 0 #181010, 4em 4em 0 #181010,
		1em 5em 0 #181010, 2em 5em 0 #181010, 3em 5em 0 #181010,
		1em 6em 0 #181010, 2em 6em 0 #181010;
}

.sidenav h1 {
	margin: 0;
	padding: 0 20px;
	height: 80px;
	display: flex;
	align-items: center;
	font-size: 20px;
}

.menu-btn {
	border-radius: 5%;
	font-size: x-large;
	height: fit-content;
	width: fit-content;
	padding: 0px 10px;
	margin: 10px;
}

.menu-btn:active i {
	transform: translate(0, 1px);
}

#user-form {
	display: flex;
	height: 100%;
	align-items: center;
	background: var(--color-light);
	padding: 5px;
	border-radius: 10px;
	border: 2px solid #000;
}

#header-settings button {
	color: var(--color-header);
	background-color: transparent;
	height: 2rem;
	width: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid var(--color-header);
	border-radius: 10px;

	transition: background-color 0.2s, color 0.2s;
}

#header-settings button:hover {
	background-color: var(--color-header);
	color: var(--color-light);
}

#usericon {
	border-radius: 50%;
}

#open-nav {
	background-color: var(--color-dark);
	color: var(--color-light);
}

#header-settings {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#audio-mute {
	display: flex;
	height: 100%;
	align-items: center;
	background: var(--color-light);
	color: #000;
	padding: 5px;
	border-radius: 10px;
	border: 2px solid #000;
	margin-right: 10px;
}

#audio-mute > button {
	margin: 0 2px;
}

#audio-mute > button.muted {
	color: var(--color-light);
	border-color: var(--color-header);
	background-color: var(--color-header);
}

#audio-mute > button.muted:hover {
	background-color: color-mix(in srgb, var(--color-header) 30%, transparent);
	color: var(--color-header);
}

#audio-mute > button:not(.muted) {
	color: var(--color-light);
	border-color: var(--color-dark);
	background-color: var(--color-dark);
}

#audio-mute > button:not(.muted):hover {
	background-color: color-mix(in srgb, var(--color-dark) 30%, transparent);
	color: var(--color-dark);
}

/* Home page */
.welcome-frame {
	background-color: var(--color-light);
	color: #062eb2;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 1rem;
	transition: 0.5s;
	border-width: 21px;
	border-style: solid;
	box-shadow: 0 0 5px 5px #1f1e1e;
}

.welcome-text h1,
.welcome-text p {
	color: #000;
}

.welcome-text h1 {
	font-size: 1.5em;
}

.welcome-text p {
	font-size: 1em;
	margin-top: 1rem;
}

#welcome-section {
	margin-top: 1rem;
	margin-left: 50px;
}

#home {
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	justify-content: center;
	margin-top: 0rem;
}

#home img {
	object-fit: cover;
}

#home section {
	max-width: 800px;
	margin-right: 2rem;
	text-align: center;
	align-self: flex-start;
}

#home h1 {
	max-width: 800px;
	margin-right: 2rem;
	text-align: center;
}

#home p {
	max-width: 800px;
	margin-right: 2rem;
	text-align: center;
}

.home-bg-image {
	display: grid;
	grid-template-rows: auto 1fr auto;
	align-items: center;
	background-image: url("../assets/img/frank-gallaxx-pokemon-4.jpg");
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100vh;
}

/* de 3 centrale buttons van home page met spelmodi in */
.game-modes {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}

.game-mode {
	width: 500px;
	height: 400px;
	margin-right: 30px;
	background-color: #1215b6;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
	position: relative;
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-mode::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 1em;
	text-align: center;
	opacity: 0;
	transition: opacity 0.3s;
	width: 90%;
}

.game-mode:hover::after {
	opacity: 1;
}

.game-mode:nth-child(1):hover::after {
	content: "Ontdek de Pokédex. Vang en vecht met honderden Pokémon!";
}

.game-mode:nth-child(2):hover::after {
	content: "Raad de Pokémon in deze uitdagende quiz!";
}

.game-mode:nth-child(3):hover::after {
	content: "Vergelijk Pokémon! Wie is de sterkste?";
}

.game-mode:hover {
	color: transparent;
}

.game-mode:last-child {
	margin-right: 0;
}

/* pokedex lijst */

#pokelist-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#pokedex-list {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

#pokedex-list article {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

#mystery-zone {
	position: relative;
	grid-column-start: 2;

	text-align: center;
	overflow: hidden;
	border-radius: 2%;
	background-color: #333232;
	box-shadow: 0 0 5px 5px #1f1e1e;
}

#mystery-zone p {
	z-index: 100;
}

.foggy-background {
	width: 750px;
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: none;

	object-fit: fill;

	animation-name: foggy;
	animation-iteration-count: infinite;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
}
#catcher {
	padding: 0;
	color: #181010;
}

/* quiz styles */
#quiz {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#quiz-container {
	color: black;
	background-color: #f8f3f8;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 1rem;
	align-items: center;
	min-width: calc(400px - 2rem);
}

#guess-img-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
}

#guess-img {
	object-fit: contain;
	width: 300px;
	border-radius: 10px;
	transition: filter 0.5s;
	filter: brightness(0%);
}

.guessed {
	filter: brightness(100%) !important;
}

#guess-options-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	min-width: fit-content;
	width: 400px;
	margin: 1rem 0;
	border: 1px solid #000;
	border-radius: 10px;
	overflow: hidden;
}

#guess-options-container button {
	text-align: start;
	padding: 0.5rem;
	border: 0;
	border-bottom: 1px solid #b6b6b6;
}

#guess-options-container button:nth-last-child(1) {
	border-bottom: none;
}

#guess-options-container button:hover {
	background-color: #cbcbcb;
}

#guess-options-container button:active {
	transform: scale(0.99);
}

#error-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

#error-container > * {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--color-text-dark);
	background-color: var(--color-light);
}

#error-container > * > * {
	margin: 0.5rem;
}

#error-container code {
	background-color: #1f1f1f;
	color: #eea230;
	padding: 0.5rem;
	border-radius: 0.3rem;
}

#error-container code::before {
	content: "Error: '";
}

#error-container code::after {
	content: "'";
}

#error-container a {
	color: var(--color-text-dark);
	background-color: var(--color-light);
}

.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #070707;
}

.login-form {
	/* flex */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* size */
	height: fit-content;

	/* misc */
	background-color: var(--color-light);
	border-radius: 0.5rem;
	padding: 1rem;
}

.login-submit-container {
	display: flex;
	justify-content: space-evenly;
	margin-top: 0.5rem;
	width: 80%;
}

.login-form h2,
.login-form h3,
.login-form i {
	color: var(--color-text-dark);
	margin-right: 0.5rem;
}

.login-form h3 {
	margin-top: 0.5rem;
	font-size: small;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
	margin-top: 0.5rem;
	color: var(--color-text-dark);
	background-color: transparent;
	border: 0;
	border-bottom: 2px inset var(--color-text-dark);
}

.login-form input[type="submit"],
.login-form a {
	padding: 0.5rem;
	border-radius: 10px;
}

.login-form a:hover {
	text-decoration: underline;
}

.login-form a {
	max-width: 50%;
	color: var(--color-text-dark);
}

#avatar-selection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#avatar-selection button {
	font-size: xx-large;
	border: 0;
}

#avatar-selection button:hover {
	transform: scale(1.1);
}

#avatar-selection button:active {
	transform: scale(0.9);
}

.avatar {
	width: 100px;
	height: 100px;
}

.highlight {
	animation: highlight-pulse 3s;
	border-radius: 10px;
}

/*
 Keeps browser autofill from changing input colors.
 Source: https://stackoverflow.com/a/14205976
 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
	box-shadow: inset 0 0 20px 20px #00000000;
}
/* Pokémon vangen */
.bg-image {
	display: grid;
	align-items: center;
	background-image: url("../assets/img/battlebg.jpg");
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2rem;
}
.bg-comparator {
	display: grid;
	align-items: center;
	background-image: url("../assets/img/comperatorbackground.mp4");
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2rem;
}

#back {
	text-decoration: underline;
}
#pokedex-list {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

#pokedex-list article {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

#catcher .bg-image {
	grid-template-areas:
		". textbox ."
		". spawnArea ."
		". pokeBall ."
		". menu menu";
}

#catcher .bg-image img {
	width: 350px;
	grid-area: spawnArea;
	/* grid-row: 2; */
}

#pokeballHolder {
	grid-area: pokeBall !important;
	width: 175px !important;
}

.catch-menu,
button {
	background-color: #f8f3f8;
	color: #000;
	grid-area: menu;
}
/* Landingspagina */
#gameboy {
	color: black;
	background-color: #e2e2e2 !important;
	font-family: cursive;
}
#gameboy header {
	background-color: #e2e2e2;
	flex-direction: column;
}
#gameboy footer {
	color: #7953ff;
	background-color: transparent;
	font-size: xx-large;
	justify-content: start;
	padding-left: 5rem;
}
#gameboy aside p {
	font-size: larger;
}
#landcontainer {
	display: flex;
	justify-content: center;
}

.landing {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	justify-items: center;
	border-style: double;
	background-color: #3b7620cf;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 1.5%;
}

.landing a {
	display: flex;
	height: 16vh;
	border-style: solid;
	width: 140px;
	justify-content: center;
	border: none;
}
.landing img {
	aspect-ratio: 1 / 1;
	height: 125%;
	max-width: 150%;
}
.light {
	margin-top: 15vh;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	background-color: rgb(234, 25, 25);
	box-shadow: 0 0 20px rgb(33, 31, 31);
}

#cookie-banner {
	position: sticky;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%); /* Center the banner */
	max-width: 50vw;

	padding: 1rem;
	border-radius: 20px;
}

#cookie-banner p {
	font-size: larger;
}

#cookie-banner > form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: fit-content;
}

#cookie-banner > form > section * {
	margin: 0.5rem 1rem;
	display: flex;
	align-items: center;
}

::backdrop {
	transition: 0.5s;
	-webkit-transition: background-color 1000ms linear;
	-ms-transition: background-color 1000ms linear;
	transition: background-color 1000ms linear;
	background-color: rgba(0, 0, 0, 0);
	animation: dim-background 0.5s forwards;
}

@keyframes dim-background {
	to {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

@keyframes highlight-pulse {
	0% {
		background-color: transparent;
	}

	25%,
	75% {
		background-color: rgba(0, 208, 255, 0.35);
		padding: 0 10px;
	}

	100% {
		background-color: transparent;
	}
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(359deg);
	}
}

@keyframes foggy {
	0% {
		translate: 0px 0 0px;
	}

	50% {
		translate: -100px 0 0px;
	}

	100% {
		translate: 0px 0 0px;
	}
}

@keyframes upAndDown {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-7px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes leftAndRight {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-10px);
	}

	100% {
		transform: translateX(-10px);
	}
}

@media only screen and (max-width: 800px) {
	#pokedex-list {
		grid-template-columns: 1fr 1fr;
	}
}

/*Blackening filter for who's that pokemon:  -webkit-filter: brightness(0);*/
@media only screen and (max-width: 1080px) {
	header {
		max-width: 500px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: var(--color-header);
	}

	header a,
	header img {
		object-fit: contain;
		max-width: fit-content;
	}
	#backgroundvideo {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
	}
}
