:root {
	--color-bg-dark: #555bc7;
	--color-fg-dark: gold;
	--color-text: #523ea3;
}

i,
i::before {
	/*
	Makes fa icons the same size.
	This can be changed if it interferes with icons other places,
	so far it just seems fitting everywhere
	*/
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1rem;
	height: 1rem;
}

.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: var(--color-bg-dark);
}

.login-form {
	/* flex */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* size */
	height: fit-content;

	/* misc */
	background-color: var(--color-fg-dark);
	border-radius: 2rem;
	border: 2px solid var(--color-text);
	padding: 1rem;
}

.login-submit-container {
	display: flex;
	justify-content: space-evenly;
	margin-top: 0.5rem;
	width: 100%;
}

.login-form h2,
.login-form i {
	color: var(--color-text);
	margin-right: 0.5rem;
}

.login-form input[type="email"],
.login-form input[type="password"] {
	margin-top: 0.5rem;
	color: var(--color-bg-dark);
	background-color: transparent;
	border: 0;
	border-bottom: 2px inset var(--color-text);
}

.highlight {
	animation: highlight-pulse 3s;
	border-radius: 10px;
}

@keyframes highlight-pulse {
	0% {
		background-color: transparent;
	}
	25%,
	75% {
		background-color: rgba(0, 208, 255, 0.35);
		padding: 0 10px;
	}
	100% {
		background-color: transparent;
	}
}

/*
 Keeps browser autofill from changing input colors.
 Source: https://stackoverflow.com/a/14205976
 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
	box-shadow: inset 0 0 20px 20px #00000000;
}
