<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/fonts.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/frames.css" />

		<script src="js/main.js" defer></script>

		<!-- fa icons -->
		<script
			src="https://kit.fontawesome.com/91fd30522d.js"
			crossorigin="anonymous"
		></script>
		<title>Pokemon Vangen</title>
	</head>
	<body>
		<%- include("/partials/header-aside") %>
		<section id="buddy" class="framed">
			<h1>My Buddy</h1>
			<img src="assets/img/MAGNETON.png" alt="" />
			<p>Magneton</p>
		</section>
		<main id="catcher">
			<section class="bg-image">
				<h2>A wild Seedot Appeared!</h2>
				<img src="./assets/img/Catchspawn.png" alt="" />
				<img src="./assets/img/SEEDOT.png" alt="" />
				<img
					id="pokeballHolder"
					src="./assets/img/BALL1IDLE.png"
					alt=""
				/>
				<section class="catch-menu framed">
					<h3>Wat wens je te doen?</h3>
					<h4>Tip: sleep de pokeball over de pokemon.</h4>
					<button>Pokeballs</button>
					<button>Run</button>
				</section>
			</section>
		</main>
		<%- include("/partials/footer") %>
	</body>
</html>
