<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Thuis</title>
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/fonts.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/frames.css" />

		<script src="js/main.js" defer></script>

		<!-- fa icons -->
		<script
			src="https://kit.fontawesome.com/91fd30522d.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<%- include("/partials/header-aside") %>
		<section id="buddy" class="framed no-hd expanded">
			<h1>My Buddy</h1>
			<img src="assets/img/magneton_icon.png" alt="buddy" />
			<p>Magneton</p>
		</section>
		<main id="home">
			<img src="./assets/img/MAGNETON.png" alt="Foto Magneton" />
			<section>
				<h1>Welkom bij Gotcha!</h1>
				<p>
					"Welkom Trainer! Betreed de fantastische wereld van Pokémon,
					waar avontuur en uitdaging om elke hoek wachten. Hier kan je
					legendarische Pokémon vangen en je vaardigheden als Trainer
					aanscherpen. Maar vergeet niet, elke Pokémon is uniek en je
					reis zal gevuld zijn met verrassingen en spannende
					ontmoetingen.Ben je klaar om je eigen verhaal te schrijven?"
				</p>
			</section>
		</main>
		<%- include("/partials/footer") %>
	</body>
</html>
